<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945043935174-8lodi2efbmk1nifsume23f10m5m3h18f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945043935174-8lodi2efbmk1nifsume23f10m5m3h18f</string>
	<key>API_KEY</key>
	<string>AIzaSyAe95TZ3_SvOXQrgwSjhz4yDaXI_G9Z5Sg</string>
	<key>GCM_SENDER_ID</key>
	<string>945043935174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hazystudios.Rewardr</string>
	<key>PROJECT_ID</key>
	<string>rewardr-12eca</string>
	<key>STORAGE_BUCKET</key>
	<string>rewardr-12eca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:945043935174:ios:2b4343641312f4df4d2cc7</string>
	<key>DATABASE_URL</key>
	<string>https://rewardr-12eca.firebaseio.com</string>
</dict>
</plist>
